header {
    background-color: rgb(23, 23, 23);
      text-align: right;
      color: rgb(197, 189, 189);
  }
  
  body {
    background-image: url('stucco.png'); 
    background-repeat: repeat;
    font-family: Verdana, serif;
    width: 80%;
    margin-top: 0px;
    margin-left: 10%;
    margin-bottom: 20px;
  }
  
  nav.bar1{
    padding-right: 3%;
  }
    
    /* Change the link color to #111 (black) on hover */
    nav.bar1 a:hover {
      background-color: #aba8a8;
    }
  
    /* nav bar2 */
  
    nav.bar2 {
      background-color: rgb(224, 221, 221);
    }
    
    nav.bar2 a{
      padding-left: 1%; 
      padding-right:4%;
    }
  
    nav.bar2 a {
      color: inherit;
      text-decoration: none;
  }
    
    /* Change the link color to #111 (black) on hover */
    nav.bar2 a:hover {
      background-color: #111;
    }
  
  h1 {
      font-weight: bold;
      margin-top: 10px;
      font-size: 40px;
      color: #1d1c1c;
  }
  
  .body1 {
      background-color: white;
      font-family: Verdana, serif;
      width: 1000px;
      
  }
  
  h2{
      font-weight: bold;
      font-size: 20px;
      color: #1d1c1c;
  }
  
  h3.page1{
      font-weight: bold;
      font-size: 17px;
      color: #1d1c1c;
  }
  
  p {
    margin-top: 0px;
  }
  
  img {
      float: left;
      margin: 0 10px 5px 5px;
  }
  
  .price {
    color: red;
    font-weight: bold;
  
  }
  
  .description {
    margin-left: 20px;
    padding: 1%;
  }
  
  .button{
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center; 
  }
  
  .wishlist-button,
  .cart-button {
    width: 300px; 
    height: 30px; 
    font-size: 18px; 
    font-weight: bold;
    color: blue;
    margin: 1%;
  }
  
  
  
  h4.page1 {
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #1d1c1c;
  }
  .similarProducts {
    display: flex;
}
  .image-container {
    margin: 1%;
    border:1px solid #ccc;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-wrapper {
    margin: 5px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  


  
  footer {
    background-color: black;
    text-align: center;
    color: rgb(186, 179, 179);
    height: 30px;
    padding: 10px;
    margin-top: 2%;
  }
  
  /* page 2*/
  
  .name,
  .password,
  .ciy,
  .state,
  .zip{
      display: flex;
      margin-bottom: 10px;
  }
  
  .name > div,
  .password > div,
  .ciy > div ,
  .state > div ,
  .zip> div  {
      margin-right: 10px;
  }
  
  .name label,
  .password label {
      display: block;
  }
  
  .name input[type="text"],
  .password input[type="password"] {
      width: 150px;
  }
  
  
  
  
  
  